body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.content input {
    margin: 0.5rem
}